<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!-- Fragment Head -->
<head th:replace="~{fragments :: head('Task Manager - Logowanie', false)}"></head>
<body>
<div class="container mt-5">
    <h2 class="mb-4 text-center">Login Page</h2>

    <div th:if="${loginError}" class="alert alert-danger" role="alert">Złe hasło lub użytkownik</div>
    <div th:if="${registerSuccess}" class="alert alert-success" role="alert">Pomyślnie zarejestrowano użytkownika</div>

    <form th:action="@{/login}" method="post" class="mt-3 mb-2">
        <div class="mb-2">
            <label for="username" class="form-label">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" class="form-control"/>
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Password</label>:
            <input type="password" id="password" name="password" class="form-control"/>
        </div>
        <button type="submit" value="Log in" class="btn btn-primary">Login</button>
    </form>

    <a href="/register">
        <button type="submit" class="btn btn-primary">Rejestracja</button>
    </a>
</div>
</body>
</html>