<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!-- Fragment Head -->
<head th:replace="~{fragments :: head('Task Manager - Rejestracja', false)}"></head>
<body>
<div class="container mt-5">
    <h2 class="mb-4 text-center">Registration Page</h2>

    <p th:if="${registerError}" class="alert alert-danger" role="alert">Istnieje użytkownik z taką nazwą</p>
    <p th:if="${registerEmpty}" class="alert alert-danger" role="alert">Nie wypełniono wszystkich pól</p>
    <p th:if="${passwordNotEqual}" class="alert alert-danger" role="alert">Hasła nie są takie same</p>

    <form th:action="@{/register}" method="post" class="mt-3 mb-2">
        <div class="mb-2">
            <label for="username" class="form-label">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" class="form-control" required/>
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Password</label>:
            <input type="password" id="password" name="password" class="form-control" required/>
        </div>
        <div class="mb-2">
            <label for="password_repeat" class="form-label">Powtórz hasło</label>:
            <input type="password" id="password_repeat" name="password_repeat" class="form-control" required/>
        </div>
        <button type="submit" value="Zarejestruj się" class="btn btn-primary">Zarejestruj się</button>
    </form>
</div>
</body>
</html>